<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <h1>QR CODE GENERATOR</h1>
    <form action="/scan" method="POST">
        <input id="input" name="url" type="text" placeholder="URL">
    <div>
        <input type="submit" value="GET QR" id="submit">
    </div>        
    </form>
    <footer>
        <p>Copyright ©<%= new Date().getFullYear() %></p>
      
     </footer>
</body>
</html>
