<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Scan QR</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <h1>QR Is Ready For Scan</h1>
  <img id="qr-image" src=<%=src%> >
  <div id="buttonk"><button id="butons"><a href="<%= src %>" download="qrcode.png">Download QR Code</a></button></div>
  
  <footer>
    <p>Copyright ©<%= new Date().getFullYear() %></p>
  
 </footer>
</body>
</html>
